entrypoint = "README.md"
modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run expo:static:build && npm run server:build"]
run = ["npm", "run", "server:prod"]

[env]
PORT = "5000"

[agent]
stack = "BEST_EFFORT_FALLBACK"
expertMode = true
integrations = ["javascript_openai_ai_integrations:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Frontend"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server:dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Start Frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run expo:dev"

[workflows.workflow.metadata]
outputType = "console"

[userenv]

[userenv.shared]
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID = "971359442211-dppv9u14kun8mo5c0e07pr6f6veh81aa.apps.googleusercontent.com"
EXPO_PUBLIC_ANDROID_CLIENT_ID = "971359442211-avlllmdh9e30un950315e20km6rbum96.apps.googleusercontent.com"
THREATS_SIGNING_KEY = "MIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgm6oMoUIOfa0eQky5bjOGJ5LrV7Hodo/mqUOmIyrozlKhRANCAAQfTpwUELzIGEB2XDcoETHK0JAtsoYpREB1yv7x/I4EIE4iFKVPzTdN4P/8kAiYafn0mvcQ0UhmUL7dXpUviDWo"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3000
