<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>971359442211-jctgrhpb89o0c0j5tp0n1a7ejg39sop0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.971359442211-jctgrhpb89o0c0j5tp0n1a7ejg39sop0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>971359442211-7di7vre2hg25v1cqtkqu8aco4rdq0oeb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCotoHd7BeZRbZ8jNIZvoo_MymJFR-6zkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>971359442211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.binro.app</string>
	<key>PROJECT_ID</key>
	<string>scan-guard-19a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>scan-guard-19a7f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:971359442211:ios:405472e1c1b2d1452fa896</string>
	<key>DATABASE_URL</key>
	<string>https://scan-guard-19a7f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>